body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    background-color: #333; /* Dark gray background */
    font-family: 'Playfair Display', serif; /* Updated font family to Playfair Display */
    font-weight: 300;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    flex-direction: column;
}

.messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto; /* Allow vertical scrolling inside messages area */
    background: #444; /* Slightly lighter gray for messages area */
}

.message {
    background-color: #4f4f4f; /* Each message box has a distinct gray background */
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px; /* Rounded corners for each message box */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    font-size: 1.25rem; /* Larger font size for readability */
}

#form, #understoodButton {
    position: fixed;
    bottom: 10px;
    left: 10px; /* Ensure left margin */
    right: 10px; /* Ensure right margin */
    margin: 0; /* Remove any default margin */
}

input[type="text"] {
    width: calc(100% - 90px); /* Full width minus button width */
    padding: 10px;
    font-size: 1.25rem; /* Larger font size for readability */
}

button {
    width: calc(100% - 20px); /* Adjust width to ensure it fits within the screen with padding */
    padding: 10px;
    font-size: 1.25rem; /* Larger font size for readability */
    background-color: #0084ff; /* Bright blue for visibility */
    color: white;
    border: none; /* Remove border for cleaner look */
    border-radius: 5px; /* Rounded corners */
}

#understoodButton {
    width: calc(100% - 20px); /* Adjust button width to prevent clipping */
    padding: 15px 0; /* Larger padding for easier interaction */
    font-size: 1.5rem; /* Very large font size for easy reading */
    background-color: #3b135c; /* Changed to purple shade */
    color: white;
    border: none;
    border-radius: 5px;
    opacity: 0; /* Initially hidden, but still rendered */
    visibility: hidden; /* Hide visibility initially */
}

.message-read {
    background-color: #3b135c; /* Purple shade for read messages */
}
